.parent_booking{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.inner_border{
    height: auto;
    width: 30%;
    border: 2px solid black;
    padding: 2%;
    display: flex;
    margin-top: 4%;
    justify-content: center;
}