.header{
    height: auto;
    width: 100%;
    display: flex;
    background-color: tomato;
    padding: 1%;
}
.header_title{
    width: 80%;
    margin: auto;
}
.header_title h1{
    font-size: 3rem;
    text-align: center;
}
.header_menu{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 20%;
}
.header_menu a{
    font-size: 1.4rem;
    color: black;
    border: 2px solid transparent;
    padding: 1%;
    border-radius: 5px;
}
.header_menu a:hover{
    border-color: black;
}
@media only screen and (max-width: 768px) {
    .header .header_title h1{
        font-size: 2.5rem;
    }
    .header .header_menu{
        flex-direction: column;
        align-items: flex-start;
    } 
    .header .header_menu a{
        font-size: 1.3rem;
    }
  }
  @media only screen and (max-width: 375px) {
    .header{
        flex-direction: column;
    }
    .header .header_title h1{
        font-size: 2.5rem;
    }
    .header .header_menu{
        flex-direction: column;
        margin: auto;
        border-top: 2px solid black;
        margin-top: 5%;
    } 
    .header .header_menu a{
        font-size: 1.3rem;
    }
  }