.header{
    height: auto;
    width: 100%;
    display: flex;
    background-color: black;
}
.header_title{
    width: 80%;
    margin: auto;
}
.header_title h1{
    font-size: 3.5rem;
    padding: 1.5%;
    text-align: center;
    color: white;
}
.header_menu{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 20%;
}
.header_menu a{
    font-size: 1.4rem;
    color: whitesmoke;
    border: 2px solid transparent;
    padding: 1%;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1.5%;
}
.header_menu a:hover{
    border-color: white;
}
