.header{
    height: auto;
    width: 98%;
    display: flex;
    background-color: tomato;
    padding: 1%;
}
.header_title{
    width: 80%;
    margin: auto;
}
.header_title h1{
    font-size: 3rem;
    text-align: center;
}
.header_menu{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 20%;
}
.header_menu a{
    font-size: 1.4rem;
    color: black;
    border: 2px solid transparent;
    padding: 1%;
    border-radius: 5px;
}
.header_menu a:hover{
    border-color: black;
}
