.parent_booking{
    height: auto;
    width: 95%;
    background-color: powderblue;
    margin: auto;
    margin-top: 3%;
    border-radius: 5px;
}
.parent_booking h1, h2{
    text-align: center;
    padding: 0.5%;
}
.con{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.form{
    height: auto;
    width: 100%;
    display: flex;
}
.details{
    height: auto;
    width: 65%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: palegoldenrod;
}
.total_bill{
    height: auto;
    width: 30%;
    background-color: palevioletred;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5px;
}
.total_bill h2{
    background-color: black;
    border-radius: 5px 5px 0 0;
    color: white;
    padding: 2%;
    border: 2px solid black;
}
.peoples_info{
    height: auto;
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
input{
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 4px;
    height: auto;
    text-align: center;
    width: auto;
}
.add_sign{
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    border: none;
    outline: none;
    margin: 2%;
    background-color: transparent;
    padding: 0.2%;
    color: black;
}
.no_peoples{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin: auto;
    margin-top: 2%;
}
.alignment{
    height: auto;
    width: 100%;
    display: flex;
    padding: 1%;
    justify-content: space-around;
}
.no_peoples li{
    font-size: 1.2rem;
    font-weight: 700;
}
.amount{
    height: auto;
    width: 90%;
    padding: 1%;
    display: flex;
    margin: auto;
    margin-top: 10%;
    /* border-top: 2px solid black; */
    justify-content: center;
}
.amount button{
    border: none;
    outline: none;
    padding: 2%;
    margin-top: 2%;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
.amount button:active{
    background-color: rgb(156, 243, 156);
    color: white;
}

.packages_trip{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.select_value{
    padding: 0.5%;
    border-radius: 3px;
    font-size: 0.8rem;
    margin-left: 1%;
    border: none;
    outline: none;
}