.body_parent{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', sans-serif;
}
.video{
    height: 350px;
    width: 100%;
}
.video img{
    height: auto;
    width: 100%;
    display: none;
}
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.video_caption{
    height: 114%;
    width: 100%;
    position: absolute;
    top: 11%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    color: white;
}
.video_caption p{
    padding: 5%;
    font-size: 2.5rem;
}
.buttons{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons a{
    color: white;
    padding: 0.5% 2%;
    font-size: 1.5rem;
    border: 2px solid white;
}
.buttons .fill{
    background-color: transparent;
    color: white;
    border-radius: 5px 0 0 5px;
}
.buttons .fill_not{
    background-color: white;
    color: black;
    border-radius: 0 5px 5px 0;
}
/* .buttons .fill:hover{
    background-color: white;
    color: black;
}
.buttons .fill_not:hover{
    background-color: transparent;
    color: white;
} */
.video_caption:hover{
    opacity: 1;
    transition: 1s ease-in;
} 
.slogon{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.best{
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 2%;
}
.slogan .best h1{
    font-size: 2rem;
}
.guide{
    display: grid;
    flex-direction: column;
    grid-template-columns: auto auto auto auto;
    grid-gap: 14px 5px;
    padding: 2%
}
.main_card{
    height: auto;
    width: 85%;
    margin: auto;
    margin-top: 10%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
.img_card{
    height: auto;
    width: 100%;
    transition: all 0.2s linear;
}
.img_card img{ 
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.img_card:hover {
    transform: scale(1.1);
  }
.card_name{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}
.card_name h1{
    color: black;
    font-size: 1.5rem;
  }
.parent_lol{
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 5px;
  padding-top: 5%;
}

.location_parent{
  height: auto;
  width: 95%;
  background-color: white;
  display: flex;
  margin: auto;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
}
.location_card{
  height: auto;
  
  border-radius: 5px;
  width: 100%;
}
/* .location_card:hover{
} */
.location_card img{
  height: auto;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: brightness(70%);
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.location_card img:hover{
  filter: brightness(95%);
}
.location_name{
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: white;
  margin-top: -20%;
  margin-left: 5%;
  z-index: 1;
  border-radius: 0 0 5px 5px;
}