*{
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  .header .header_title h1{
      font-size: 2.5rem;
  }
  .header .header_menu{
      flex-direction: column;
      align-items: flex-start;
  } 
  .header .header_menu a{
      font-size: 1rem;
  }
  .body_parent .slogan .location{
    display: flex;
    flex-direction: column;
  }
  .body_parent .slogan .guide{
    display: flex;
    flex-direction: column;
  }
  .body_parent .slogan .best h1{
    font-size: 1.3rem;
  }
  .body_parent .video .video_caption{
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15%;
    opacity: 1;
  }
  .body_parent .video .video_caption p{
    font-size: 1rem;
    color: white;
  }
  .body_parent .video .video_caption .buttons a{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 375px) {
  .header{
      flex-direction: column;
  }
  .header .header_title h1{
      font-size: 2.5rem;
  }
  .header .header_menu{
      flex-direction: column;
      margin: auto;
      border-top: 2px solid black;
      margin-top: 5%;
  } 
  .header .header_menu a{
      font-size: 1rem;
  }
  .body_parent .slogan .best h1{
    font-size: 1.3rem;
    margin-bottom: 5%;
  }
  .body_parent .slogan .location{
    display: flex;
    flex-direction: column;
  }
  .body_parent .slogan .guide{
    display: flex;
    flex-direction: column;
  }
  .body_parent .video .video_caption{
    top: 15%;
  }
  .body_parent .video .video_caption p{
    font-size: 0.7rem;
  }
  .body_parent .video .video_caption .buttons a{
    font-size: 0.5rem;
  }
}