@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  margin: 0;
  font-family: 'Quicksand', sans-serif; 
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 768px) {
  .header .header_title h1{
      font-size: 2.5rem;
  }
  .header .header_menu{
      flex-direction: column;
      align-items: flex-start;
  }
  .header .header_menu a{
      font-size: 1rem;
  }
  .body_parent .slogan .location{
    display: flex;
    flex-direction: column;
  }
  .body_parent .slogan .guide{
    display: flex;
    flex-direction: column;
  }
  .body_parent .slogan .best h1{
    font-size: 1.3rem;
  }
  .body_parent .video .video_caption{
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30.5%;
    opacity: 1;
  }
  .body_parent .video .video_caption p{
    font-size: 1rem;
    color: white;
  }
  .body_parent .video .video_caption .buttons a{
    font-size: 1rem;
  }
  .body_parent .parent_lol{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }
  .body_parent .parent_lol .location_parent{
    margin-bottom: 5%;
  }
  .body_parent .best{
    font-size: 0.7rem;
  }
  .body_parent .slogan .best{
    font-size: 0.7rem;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .body_parent .slogan .guide .main_card{
    height: auto;
    width: 60%;
  }
  .parent_jai .location_main{
    display: flex;
    flex-direction: column;
  }
  .body_parent .video video{
    display: none;
  }
  .body_parent .video img{
    display: block;
  }
  .popo .parent_location{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
  }
  .parent_location .lol_card{
    display: flex;
    flex-direction: column;
  }
  .parent_location .lol_card .lol_image{
    width: 90%;
    margin: auto;
  }
  .parent_location .lol_card .lol_desc{
    width: 90%;
    margin: auto;
    margin-top: 5%;
  }
}
@media only screen and (max-width: 375px) {
  .header{
      flex-direction: column;
  }
  .header .header_title h1{
      font-size: 2.5rem;
  }
  .header .header_menu{
      flex-direction: column;
      margin: auto;
      border-top: 2px solid black;
      margin-top: 5%;
  }
  .header .header_menu a{
      font-size: 1rem;
  }
  .body_parent .slogan .best h1{
    font-size: 1.3rem;
    margin-bottom: 5%;
  }
  .body_parent .slogan .location{
    display: flex;
    flex-direction: column;
  }
  .body_parent .slogan .guide{
    display: flex;
    flex-direction: column;
  }
  .body_parent .video .video_caption{
    top: 35%;
    height: 60.5%;
    width: 100%;
    margin-top: 20%;
  }
  .body_parent .video .video_caption p{
    font-size: 0.7rem;
  }
  .body_parent .video .video_caption .buttons a{
    font-size: 0.5rem;
  }
  .location_main{
    display: flex;
    flex-direction: column;
  }
  .parent_location{
    display: flex;
    flex-direction: column;
  }
}