.footer{
    height: auto;
    width: 100%;
    margin-top: 5%;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.footer h1{
    color: white;
}
.title{
    height: auto;
    width: 100%;
    display: flex;
    padding-top: 1%;
    justify-content: center;
}
.title h1{
    font-size: 3rem;
    font-family:  'Quicksand', sans-serif;
}
.follow-us{
    display: flex;
    justify-content: center;
    margin-right: 3%;
}
.follow-us a{
    margin-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}